<div id="<%= dom_id yard %>">
  <p>
    <strong>Name:</strong>
    <%= yard.name %>
  </p>

  <p>
    <strong>Rows:</strong>
    <%= yard.rows %>
  </p>

  <p>
    <strong>Columns:</strong>
    <%= yard.columns %>
  </p>

</div>
