<div id="<%= dom_id container %>">
  <p>
    <strong>Code:</strong>
    <%= container.code %>
  </p>

  <p>
    <strong>Slot:</strong>
    <%= container.slot_id %>
  </p>

  <p>
    <strong>Truck:</strong>
    <%= container.truck_id %>
  </p>

</div>
